/* Header */
#main-header {
    background-color: transparent;
    text-align: center;
    color: darkslategray;
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 50px;
}

#main-header a {
    color:darkslategray;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}

#main-header a:hover {
    color: #b9b9b9;
}

/* Nav */
#menu {
    background-color: transparent;
}

#menu ul{
    background-color: transparent;
    text-align: center;
    padding: 0;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu a {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    color: darkslategray;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}

#menu a:hover {
    color: burlywood;
}

body {
    background: linear-gradient(60deg, #CCFFFF, #FFCCCC);
   /* background-image: url(../images/blue-snow.png);*/
    background-repeat: none;
    line-height: 1.6em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #555;
    font-weight: normal;
    margin: 0;
    height: 15px;
}

/* Div */
.container {
    width: 80%;
    margin: auto;
}

/*Left Side of Home Page */
#showcase {
    background-image: url('/images/color.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 484px;
}

#showcase .container {
    margin: none;
}

#showcase h1 { /*fix*/
    padding-top: 170px;
    padding-left: 90px;
    font-size: 30px;
    line-height: 50px;
}

/* Footer */
footer {
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

/* About Me */
/*#description {
    margin-bottom: 300px;           (Brings footer down and doesn't show repeat of background image)
}*/

#description p {
    text-decoration: none;
    color: darkslategray;
}

#description a {
    text-decoration: none;
    color: darkslategray;
}

#description a:hover {
    color: burlywood;
}

/* Projects */
*#item {
    margin-bottom: 400px;           (Brings footer down and doesn't show repeat of background image)
}

#item a {
    font-size: 18px;
    color: darkslategray;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}

#item a:hover {
    color: rgba(160, 137, 202, 0.911);
}

/* Article */
article col-2{
    float: left;
}

/* Sidebar */
#sidebar {
    background-image: url(../images/pillbottle.jpg);
    float: right;
    width: 30%;
    margin: 10px;
}

/*Media Queries*/
@media  (max-width: 768px) {
    #main-header {
        float: none;
        text-align: center;
        width: 100%;
    }

    body {
        height: 15px;
    }

    #showcase h1 {
        margin-top: 80px;
        font-size: 30px;
        line-height: 50px;
    }

    footer {
        text-align: center;
        font-size: 15px;
    }
}
