body {
    font-family: 'Century Gothic', sans-serif;
    color: darkslategray;
    margin: 0;
    padding: 0;
    background: linear-gradient(60deg, #CCFFFF, #FFCCCC);
    background-repeat: no-repeat;
    background-size: cover;
}

#menu {
    background-color: transparent;
}

#menu ul{
    background-color: transparent;
    text-align: center;
    padding: 0;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu li a {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    color: darkslategray;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}

#menu li a:hover {
    color: burlywood;
}

/* Header */
h2 {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 10;
    color: darkslategray;
    margin-top: 40px;
}

.box {
    width: 360px;
    background: transparent;
    opacity: 0.9;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: darkslategray;
    font-family: 'Century Gothic', sans-serif;
}

.box img {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 30px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    text-align: center;
}

.box h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 40;
}

.box p {
    text-align: center;

}

.box h6 {
    font-size: 20px;
    display: inline-block;
    margin-top: -25px;
    font-weight: 100;
    padding-left: 12px;
}

.box ul {
    margin: 0;
    padding: 0;
}

.box li {
    list-style: none;
    display: inline-block;
}

.box li a {
    color: darkslategray;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}

/* Footer */
footer {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 35px;
}
