body {
  color: white;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

section {
  color: black;
  margin-right: 20px;
}

header {
  background: black;
  padding: 20px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 20px;
}

ul li a {
  colour: white;
}
