body {
  color: white;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

div {
  color: black;
  padding: 20px;
  text-align: center;
}
article {
  color: black;
  padding: 20px;
  margin-left: 31%;
  position: staticS;
  bottom: 700px;
  font-size: 25px;
}
header {
  background: black;
  height: 300px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}
  
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 20px;
}

ul li a {
  color: rgb(187, 179, 179);
}

.features figure {
  background: white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.features figure img {
  width: 400px;
  height: 520px;
  box-shadow: gray 0 0 10px;
  border: 1px solid white;
}
